:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 32px;
  height: 125px;
  min-width: 50px;
  min-height: 50px;
}
.row-layout {
  display: flex;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  padding: 16px;
  width: 313px;
  min-width: 50px;
  min-height: 50px;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.h5 {
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
}
.text {
  width: 1258px;
  height: max-content;
  min-width: min-content;
}
.text_1 {
  height: max-content;
  min-width: min-content;
}
.list {
  height: max-content;
}
