.column-layout {
    display: flex;
    flex-direction: column;
}
.reports-combo-view-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    height: 97px;
    min-width: 50px;
    min-height: 50px;
}
.group_1 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 0 16px 16px;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.single-select-combo {
    width: 364px;
    height: max-content;
    min-width: min-content;
}
.reveal-dash-board {
    min-width: 400px;
    min-height: 200px;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}
