<div class="column-layout group">
  <h5 class="h5">
    Data Grid Example
  </h5>
  <p class="text">
    This sample demonstrates binding the dashboard name to a combo, then loading the selected dashboard into a RevealView.
  </p>
</div>
<div class="column-layout group_1">
  <igx-grid [data]="revealDomDashboardsFileData" primaryKey="name" displayDensity="cosy" rowSelection="single" [hideRowSelectors]="true" [allowFiltering]="true" filterMode="excelStyleFilter" (rowSelectionChanging)="gridRowSelectionChanging($event)" class="grid">
    
    
    <igx-column field="" dataType="string" header="" width="232px" [pinned]="true" [sortable]="false" [resizable]="false" [filterable]="false" [selectable]="false">
      <ng-template igxCell let-cell="cell">
        <div class="column-layout group_2">
            <app-dashboard-thumbnail [dashboardId]="cell.row.data.name"  />
        </div>
      </ng-template>
    </igx-column>


    <igx-column field="name" dataType="string" width="200px" header="Dashboard" [hidden]="false" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
    <igx-column field="fakeOwnerImageUrl" dataType="image" header="Added By" width="372px" [sortable]="true" [resizable]="true" [selectable]="false">
      <ng-template igxCell let-cell="cell">
        <div class="row-layout group_4">
          <igx-avatar [src]="cell.value" shape="circle" class="avatar_1"></igx-avatar>
          <p class="text_1">
            {{ cell.row.data.fakeOwner }}
          </p>
        </div>
      </ng-template>
    </igx-column>
    <igx-column field="dateCreated" dataType="string" header="Created" width="275px" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
    <igx-column field="dateModified" dataType="string" header="Modified" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
    <igx-column field="fakeOwner" dataType="string" header="Added By" [hidden]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  </igx-grid>
</div>
