<div class="column-layout group">
  <h5 class="h5">
    Card View Example
  </h5>
  <p class="text">
    This sample demonstrates binding the dashboard name to a List control, then loading the selected dashboard into a RevealView.
  </p>
</div>
<div class="row-layout group_1">
  <div class="row-layout group_2">
    <igx-card width="175px"  *ngFor="let item of revealDomDashboardsFileData" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar [src]="item.fakeOwnerImageUrl" size="medium" shape="circle"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          {{ item.name }}
        </h3>
        <h5 igxCardHeaderSubtitle>
          {{ item.fakeOwner }}
        </h5>
      </igx-card-header>
      
      
      <igx-card-media height="125px" >
        <app-dashboard-thumbnail [dashboardId]="item.name" />
      </igx-card-media>

      <!-- <igx-avatar [src]="item.fakeOwnerImageUrl" size="medium" shape="circle"></igx-avatar> -->

      
<!-- 
      <igx-card-media height="175px" style="padding: 15px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);" > 
        <app-dashboard-thumbnail [dashboardId]="item.name"/>
      </igx-card-media> -->


      <igx-card-actions class="actions-content">
        <!-- <ng-container igxStart>
          <button igxButton="flat" igxRipple routerLink="/dashboard-viewer" class="button">
            Open
          </button>
        </ng-container> -->
        <ng-container igxEnd>
          <button igxButton="icon" igxRipple>
            <igx-icon>
              favorite
            </igx-icon>
          </button>
          <button igxButton="icon" igxRipple>
            <igx-icon>
              share
            </igx-icon>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
  </div>
</div>
